body {
    background-color: black;
}

#file-input {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
}

#canvas {
    position: fixed;
    left: 0;
    top: 10%;
    width: 100%;
    height: 90%;
}

audio {
    position: fixed;
    left: 10px;
    bottom: 3px;
    width: calc(100% - 25px);
    z-index: 3;
}
